* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Lato', sans-serif;
}

.main-header {
    background-color: #FC997C;
}

.main-logo {
    text-decoration: none;
    font-weight: bold;
    font-size: 24px;
    margin-left: 20px;
    color: white;
}

.main-nav {
    display: inline-block;
    text-align: right;
    width: calc(100% - 140px);
}

.main-nav__items {
    list-style: none;
    padding: 0;
    margin: 0;
}

.main-nav__item {
    display: inline-block;
    margin: 15px 20px;
}

.main-nav__item a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    transition-duration: 0.5s;
}

.main-nav__item a:hover {
    color: #2E4C6D;
}

.main-nav__item a:active {
    color: #FFFFFF;
}

.welcome {
    background-image: url("../../resources/background-mountain.jpg");
    background-position: center;
    height: 400px;
}

.welcome h1 {
    text-align: center;
    font-size: 40px;
    margin: 0;
    padding-top: 50px;
}

.how-it-works {
    margin-bottom: 50px;
}

.row {
    text-align: center;
    margin: 0;
    padding: 0;
}

.row h2 {
    font-size: 28px;
}

.col-3 {
    display: inline-block;
    width: 30%;
    margin-top: 50px;
}

.col-3 h3 {
    font-size: 26px;
    margin-top: 5px;
}

.col-3 i {
    color: #FC997C;
}

.features {
    padding: 0px;
    background-color: #EDF5F7;
    margin-bottom: 40px;
}

.features-left {
    background-image: url(../../resources/hogwarts.jpg);
    background-size: cover;
    background-position: bottom center;
}

.features-right, .features-left {
    display: inline-block;
    vertical-align: top;
    width: 49%;
    height: 300px;
}

.features-right h3 {
    margin-top: 60px;
    font-size: 26px;
}

.features-right__content {
    width: 90%;
    margin-left: 40px;
    margin-bottom: 40px;
}

.plans {
    text-align: center;
    margin-left: 30px;
}

.plans h3 {
    font-size: 28px;
}

.clearfix::after {
    content: "";
    clear: both;
    display: block;
}

.plan {
    text-align: center;
    float: left;
    width: 33%;
    padding: 20px;
}

.inner-plan {
    background-color: #EDF5F7;
    margin: 10px;
    padding: 25px 10px;
    border-radius: 10px;
    box-shadow: -5px 5px 10px 2px rgba(100, 100, 100, 0.3);
    transition: box-shadow .5s;
}

.inner-plan:hover {
    box-shadow: -5px 5px 10px 2px rgba(100, 100, 100, 0.7);
}

.inner-plan a {
}

.recommended-plan {
    background-color: #396EB0!important;
}

.recommended-badge {
    background-color: #FFFFFF;
    color: #FC997C;
    border-radius: 5px;
    padding: 14px;
}



