* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Lato', sans-serif;
}

.main-header {
    background-color: #FC997C;
}

.main-logo {
    text-decoration: none;
    font-weight: bold;
    font-size: 24px;
    margin-left: 20px;
    color: white;
}

.main-nav {
    display: inline-block;
    text-align: right;
    width: calc(100% - 140px);
}

.main-nav__items {
    list-style: none;
    padding: 0;
    margin: 0;
}

.main-nav__item {
    display: inline-block;
    margin: 5px 20px;
}

.main-nav__item a {
    text-decoration: none;
    color: white;
    font-size: 18px;
}

.main-nav__item a:hover {
    color: #2E4C6D;
}

.main-nav__item a:active {
    color: #FFFFFF;
}

.main-nav__item-login {
    color: #FFFFFF;
    background-color: #2E4C6D;
    padding: 4px 16px;
    border-radius: 10px;
    border: 2px solid #FFFFFF;
}

.main-nav__item-login:hover {
    color: #2E4C6D;
    background-color: #FFFFFF;
    border-color: #2E4C6D;
}

.main-nav__item-login:active {
    color: #FFFFFF;
    background-color: #2E4C6D;
    border-color: #2E4C6D;
}

.welcome {
    background-image: url("../resources/background-mountain.jpg");
    background-position: center;
    height: 400px;
}

.welcome h1 {
    text-align: center;
    font-size: 40px;
    margin: 0;
    padding-top: 50px;
}

.how-it-works {
    margin-bottom: 50px;
}

.row {
    text-align: center;
    margin: 0;
    padding: 0;
}

.row h2 {
    font-size: 28px;
}

.col-3 {
    display: inline-block;
    width: 30%;
    margin-top: 50px;
}

.col-3 h3 {
    font-size: 26px;
    margin-top: 5px;
}

.col-3 i {
    color: #FC997C;
}

.features {
    padding: 0px;
    background-color: #EDF5F7;
    margin-bottom: 40px;
}

.features-left {
    background-image: url(../resources/hogwarts.jpg);
    background-size: cover;
    background-position: bottom center;
}

.features-right, .features-left {
    display: inline-block;
    vertical-align: top;
    width: 49%;
    height: 300px;
}

.features-right h3 {
    margin-top: 60px;
    font-size: 26px;
}

.features-right a {
    font-size: 18px;
    text-decoration: none;
    color: #FFFFFF;
    background-color: #FC997C;
    border: 1px solid #FC997C;
    padding: 10px;
    border-radius: 10px;
}

.features-right a:hover {
    color: #FC997C;
    background-color: #FFFFFF;
}

.features-right a:active {
    color: #FFFFFF;
    background-color: #FC997C;
}

.features-right__content {
    width: 90%;
    margin-left: 40px;
    margin-bottom: 40px;
}

.plans {
    text-align: center;
    margin-left: 30px;
}

.clearfix::after {
    content: "";
    clear: both;
    display: block;
}

.plan {
    text-align: center;
    float: left;
    width: 33%;
    padding: 20px;
}

.inner-plan {
    background-color: #EDF5F7;
    margin: 10px;
    padding: 25px 10px;
    border-radius: 10px;
}

.recommended-plan {
    background-color: #396EB0!important;
}

.recommended-badge {
    background-color: #FFFFFF;
    color: #FC997C;
    border-radius: 5px;
    padding: 14px;
}



